
//background
$background_color: #081221;
$background_color_secondary: #101e32;


// text
$text: #F4F4F4;
$text_transp: rgb(244 244 244 / 50%); // #f4f4f4;
$text_secondary: #2e82ff;
$text_error: #f78787;
$text_success: #81B72A;


//button
$button_border: rgb(244 244 244 / 30%); // #F4F4F4
$button_border_hover: rgb(244 244 244 / 20%); // #F4F4F4
$button_background_hover: rgb(244 244 244 / 5%); // #F4F4F4

$button_background_secondary: rgb(46 130 255 / 10%); // #2e82ff
$button_background_secondary_hover: rgb(46 130 255 / 20%); // #2e82ff
