
$transition_links: 0.4s ease-out;

$transition_pop: all 0.4s ease-in-out;

$transition_image: 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
$transition_image_back: 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);

$transition_selectable_text: 0.2s ease;
